html, body{
	margin:0;
	padding: 0;
}
/*********** Escalera con bola ***********/
#container2{
	width: 100%;
	height: 600px;
	background:black;
	padding-top: 40px;

}
	 #txt{
	 	
	 	width: 280px;
	 	height: 150px;
	 	margin: 15px auto;
	 	color:white;
	 	font-family: "Freemono", monospace;
	 	text-align: center;
	 	letter-spacing: 1px;
	 	line-height: 20px;
	 	overflow: hidden;


	 }
	 #txt h1{
	 	font-size: 4em;
	 	letter-spacing: 1.5px;
	 	text-transform: uppercase;
	 	font-weight: bold;
	 	margin-bottom: 25px;
	 	animation-name: txt;
	 	animation-duration:5s;
	 	animation-fill-mode: forwards;


	 }
	 #txt span{
	 	color: red;
	 	
	 }
	 #txt p{
	 	animation-name: paragrph;
	 	
	 	animation-duration: 10s;
	 	animation-fill-mode: forwards;

	 }
	 /****animation texto de  Escalera con bola *****/

	 @keyframes txt{
	 	from{
	 		transform: scale(0);

	 	}
	 	to{
	 		transform: scale(1);

	 	}
	 }
	 @keyframes paragrph{
	 	0% {
	 		transform: translateY(300%);
	 		
	 	}
	 	100% {
	 		transform: translateY(0%);
	 		
	 	}

	 }


/*********************  formatacion Escalera con bola ***************************/


#cubo{
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	width: 500px;
	height:200px;
	margin:80px auto;
	overflow: hidden;
}
#circle{
	width: 20px;
	height:20px;
	border-radius: 10px;
	background-color: white;
	animation-name: circle;
	animation-duration:6.5s;
	animation-iteration-count: infinite;



}

.cuadro{
	width: 40px;
	height:20px;

}
#cd1{
	background-color: white;
	animation-name: cd1;
	animation-duration:1s;
	animation-fill-mode:forwards;

}
#cd2{
	background-color:#FA58F4;
	animation-name: cd2;
	animation-duration:1s;
	animation-fill-mode:forwards;

}
#cd3{
	background-color: #D358F7;
	animation-name: cd3;
	animation-duration:1.5s;
	animation-fill-mode:forwards;

}
#cd4{
	background-color: #58D3F7;
	animation-name: cd4;
	animation-duration:2s;
	animation-fill-mode:forwards;

}
#cd5{
	background-color: #58FAF4;
	animation-name: cd5;
	animation-duration:2.5s;
	animation-fill-mode:forwards;

}
#cd6{
	background-color: #9FF781;
	animation-name: cd6;
	animation-duration:3s;
	animation-fill-mode:forwards;

}
#cd7{
	background-color:#F3F781;
	animation-name: cd7;
	animation-duration:3.5s;
	animation-fill-mode:forwards;

}
#cd8{
	background-color: #FF8000;
	animation-name: cd8;
	animation-duration:4s;
	animation-fill-mode:forwards;

}
#cd9{
	background-color: #FF0000;

	animation-name: cd9;
	animation-duration:4.5s;
	animation-fill-mode:forwards;
}
 /***** anmation bola de escalera con bola ***/
 @keyframes circle{
 	0%{ 
 		transform: translate(-100%,0);
 	

 	}
 	5%{transform: translate(200%,0%);

	}
 	10%{
 		transform: translate(200%,100%);

 	}
 	15%{
 		transform: translate(350%,100%);


 		}
 	20%{
		transform: translate(350%,200%)
 	}

 	25%{
 		transform: translate(470%,200%);

 	}
 	30%{
 		transform: translate(470%,300%);
	
 	}
 	35%{
 		transform: translate(600%,300%)
	
 	}
 	40%{
 		transform: translate(600%,400%);

 	}
 	45%{
		transform: translate(740%,400%)
 	}
 	50%{
 		transform: translate(740%,500%);

 	}
 	55%{
 		transform: translate(860%,500%)
	
 	}
 	60%{
 		transform: translate(860%,600%);

 	}
 	65%{
 		transform: translate(960%,600%)
 		}
 	70%{
 		transform: translate(960%,700%)
 	}
 	75%{
		transform: translate(1070%,700%)
 		}
 	80%{
		transform: translate(1070%,800%)
 		}
 	85%{
		transform: translate(1200%,800%)
 		}
 	90%{
		transform: translate(1200%,900%)
 		}
 		
 	100%{
 		transform: translate(3000%,900%);

 	}
 }
 /*****Animation cuadros escalera con bola ****/
 @keyframes cd1{
 	from{
 		transform: translateX(-100%);

 	}
 	to{
 		transform: translateX(0%);

 	}

 }
@keyframes cd2{
	form{
		transform: translateX(-100%);

	}
	to{
		transform: translateX(70%);

	}
 	
 }
 @keyframes cd3{
 	from{
 		transform: translateX(-100%);

 	}
 	to{
 		transform: translateX(130%);

 	}
 }
 @keyframes cd4{
 	from{
 		transform: translateX(-100%);

 	}
 	to{
 		transform: translateX(190%);

 	}
 	
 }
 @keyframes cd5{
 	from{transform: translateX(-100%);

 	}
 	to{
 		transform: translateX(250%);

 	}
 	
 }
 @keyframes cd6{
 	from{transform: translateX(-100%);

 	}
 	to{
 		transform: translateX(310%);

 	}
 	
 }
 @keyframes cd7{
 	from{transform: translateX(-100%);

 	}
 	to{
 		transform: translateX(370%);

 	}
 }
 @keyframes cd8{
 	from{transform: translateX(-100%);

 	}
 	to{
 		transform: translateX(430%);

 	}
 	
 }
 @keyframes cd9{
 	from{transform: translateX(-100%);

 	}
 	to{
 		transform: translateX(490%);

 	}
 	
 }